.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .items {
    overflow: auto;
    margin-bottom: 60px;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    font-size: 24px;
  }
}

.hidden {
  display: none;
}


.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;



  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .cartInfo {
    flex: 1;
    margin-right: 20px;

    p {
      font-size: 16px;
      margin-bottom: 5px;
    }

    b {
      font-size: 14px;
    }
  }
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartPriceList {

  Ul {
    margin-bottom: 40px;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 8px;
      }
    }
  }

  .confirmButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 22px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.confirmButton{

  width: 100%;
  height: 55px;
  border-radius: 18px;
  background: #9DD558;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;



  &:hover {
    background: lighten($color: #9DD558, $amount: 5%);
  }

  &:active {
    background: darken($color:  #9DD558, $amount: 5%);
  }
}

.drawerClose {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartEmpty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  button {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }

    p {
      width: 280px;
      line-height: 24px;
      opacity: 0.6;
    }
  }



}
